* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
header {
	width: 100%;
	height: 82px;
	background: #3B5998;
	overflow: hidden;
}
.main-logo {
	width: 50%;
	float: left;
	padding: 27px;
	padding-left: 10px;

}
.main-logo img {
	width: 170px;
	height: 45px;

}
.main-login {
	width: 50%;
	float: left;
	/*background:red;*/
}
.login-wrapper {
	/*background-color: yellow;*/
	overflow: hidden;
	width: 100%;
	margin-left: 90px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.email {
	color: white;
	float: left;
	padding: 15px;
	margin-top: -2px;

}
#text_box1 {
	width: 146px;
	height: 24px;
	margin-top: 6px;
	border: 1px solid #1D2A5B;
}
.password {
	color: white;
	float: left;
	padding-top: 15px;
	margin-top: -2px;
}
.password a {
	color: #9CB4D8;
	text-decoration: none;
	position: absolute;
	top: 62px;
}
.password a:hover {
	border-bottom: 1px solid #9CB4D8;
}
#text_box2 {
	width: 150px;
	height: 24px;
	margin-top: 6px;
	border: 1px solid #1D2A5B;
}
.login-button {
	padding-top: 32px;
	
}
.login-button input {
	margin-left: 10px;
	margin-top: 5.5px;
	width: 55px;
	height: 23px;
	background: #4267B2;
	color: white;
	border: 0.8px solid #29487D;
}

content {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.content-wrapper {
	height: 568px;
	width: 100%;
	background-color: #eff1f7;
}
.main-img {
	width: 55%;
	height: 568px;
	/*background-color: yellow;*/
	float: left;
}
#content-image {
	width: 500px;
	height: 190px;
}
.main-img h2 {
	margin-top: 45px;
	margin-left: 15px;		
	margin-right: 40px;
	font-size: 20.5px;
	letter-spacing: 1px;
	color: #0E385F;
}

.facebook-accounts {
	width: 45%;
	height: 568px;
	/*background-color: lightgreen;*/
	float: right;
}
.acount-wrapper h1 {
	margin-top: 28px;
	margin-right: 20px;
	margin-left: 8px;
	font-size: 36px;
	letter-spacing: 1px;
	margin-bottom: 7px;
}
.acount-wrapper h4 {
	margin-right: 20px;
	margin-left: 8px;
	font-size: 18px;
	margin-bottom: 15px;
	letter-spacing: 1px;
	font-weight: lighter;
}
.acount-wrapper select {
	border: 1.3px solid #BDC7D8;
}
.acount-wrapper #text1 {

	height: 39px;
	width: 194px;
	margin-left: 8px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1.3px solid #BDC7D8;
}
.acount-wrapper #text2 {
	height: 39px;
	width: 194px; /*194 */
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1.3px solid #BDC7D8
}
.acount-wrapper #text3 {
	height: 39px;
	margin-left: 8px;
	margin-bottom: 10px;
	width: 402px;
	border-radius: 5px;
	border: 1.3px solid #BDC7D8
}
.acount-wrapper #text4 {
	height: 39px;
	margin-left: 8px;
	margin-bottom: 20px;
	width: 402px;
	border-radius: 5px;
	border: 1.3px solid #BDC7D8
}
.acount-wrapper input[type="text"] {
	font-size: 18px;
	padding-left: 15px;
}
.acount-wrapper input[type="password"] {
	font-size: 18px;
	margin-left: 20px;
	padding-left: 15px;

}

input:focus {
    /*background-color: #eff1f7;*/
    outline: none;
}

.acount-wrapper .box {
	position: fixed;
	right: 218px;
	top: 58.8%;
	display: none;
}
.acount-wrapper .box > img {
	height: 143px;
	width: 314px;
}

::placeholder {
	font-size: 18px;
	padding: 10px;
}
.select1 {
	margin-left: 9px;
}
.select1 h3 {
	font-weight: lighter;
	margin-bottom: 7px;
}
.select1 select {
	padding: 7px;
	margin-bottom: 20px;
}
.select1 a {
	font-size: 12px;
	float: right;
	margin-right: 55px;
	text-decoration: none;
}
.select1 a:hover {
	text-decoration-color: #365899;
	text-decoration: underline;
}
.select1 #radio {
	margin-left: 10px;
	margin-bottom: 20px;
}
.select1 h5 {
	font-size: 12px;
	font-weight: lighter;
	color: #777777;
	margin-bottom: 20px;
}
.select1 #sign-up {
	background-color: #5F9D4C;
	border: 1.3px solid #3B6E22;
	padding: 8px 60px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: 8px;
	margin-bottom: 30px;
}
.select1 h6 {

	color: #777777;
	font-size: 15px;
	font-weight: lighter;
}
.select1 h6 span {
	color: #365899;
	cursor: pointer;
}

